/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Yeseva One', cursive;
}
html,
body { height: 100% }
body {
    font-family: 'Gentium Book Basic', serif;
    font-size: 16px;
    color: #4c4c4c;
}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }

.slide-bg-1{background: url(img/header-bg.jpg)}
.slide-bg-2{background: url(img/new-parallax-bg.jpg)}

.top-area {
    position: relative;
}
.top-area-bg {
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.header-area {
  width: 100%;
    position: absolute;
}
.sticky-wrapper{
    position: absolute;
    z-index: 999;
    width: 100%;
}

.logo img {height: auto;width: auto}

.is-sticky .header-area::after {
    background: #000 none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    content: "";
}

.header-area,.logo img,.mainmenu ul.nav.navbar-nav li a,.social-icons {transition: .4s}

.is-sticky .logo img {
    height: 70px;
    padding: 10px;
    width: auto;
}
.is-sticky .mainmenu ul.nav.navbar-nav li a {
    padding: 25px 15px;
}
.is-sticky .social-icons {
    top: 23px;
}

.slide-control {
    color: #fff;
    font-size: 80px;
    left: 30px;
    opacity: 0.2;
    position: absolute;
    top: 50%;
}
.slide-control.right {
    left: auto;
    right: 30px;
}
.slide-control:hover {
    color: #fff;
    opacity: 1;
}

#top-slide-carousel.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
#top-slide-carousel.carousel-fade .carousel-inner .item,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
#top-slide-carousel.carousel-fade .carousel-inner .active,
#top-slide-carousel.carousel-fade .carousel-inner .next.left,
#top-slide-carousel.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#top-slide-carousel.carousel-fade .carousel-inner .next,
#top-slide-carousel.carousel-fade .carousel-inner .prev,
#top-slide-carousel.carousel-fade .carousel-inner .active.left,
#top-slide-carousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#top-slide-carousel.carousel-fade .carousel-control {
  z-index: 2;
}


.mainmenu {
    padding-right: 90px;
    position: relative;
}
.social-icons {
    position: absolute;
    right: 0;
    top: 39px;
}
.social-icons a {
    color: #cc9900;
    font-size: 20px;
    margin: 3px;
}


.mainmenu ul.nav.navbar-nav {
    float: none;
    font-size: 20px;
    text-align: right;
}
.mainmenu ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
    position: relative;
}
.mainmenu ul.nav.navbar-nav li a {
    color: #fff;
    padding: 45px 15px;
}
.mainmenu ul.nav.navbar-nav li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.header-text{
    position: relative;
    padding-top: 80px;
}

.header-text h2 {
    background: rgba(0, 0, 0, 0) url("img/line-symbol.png") no-repeat scroll center bottom;
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
    padding-bottom: 60px;
}
.btn-filled {
    color: #fff;
    display: inline-block;
    margin: 0 5px;
    padding: 10px 30px;
    position: relative;
    z-index: 1;
}
.btn-filled::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.header-text-area {
    padding: 100px 0;
}
.mainmenu ul.nav.navbar-nav li a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.mainmenu ul.nav.navbar-nav li.active::before {
    background: #ddd none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.btn-filled.youllow-btn::after {
    background-color: #8d6a0d;
}


.about-us-area {
    background: rgba(0, 0, 0, 0) url("img/symphony.png") repeat scroll 0 0;
}
.section-padding {
    padding: 70px 0;
}
.section-title {
    background: rgba(0, 0, 0, 0) url("img/section-title-pattern.png") no-repeat scroll center bottom;
    color: #cc9900;
    font-size: 32px;
    margin-bottom: 25px;
    padding-bottom: 40px;
    text-align: center;
}
.about-text p {
    margin-bottom: 30px;
}
.about-text {
    margin-top: 40px;
}
.igredients-area-bg{background-image: url(img/new-parallax-bg.jpg)}

.parallax-bg{
    height: 100%;
    left: 0;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    width: 100%;
}

.igredients-area {
    position: relative;
}
.igredients {
    padding: 70px;
    position: relative;
    z-index: 1;
}
.igredients::after ,.testimonial-list::after{
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.section-title.white-section-padding {
    background-image: url("img/section-title-pattern-white.png");
    color: #fff;
}
.igredients p {
    color: #fff;
    margin-bottom: 40px;
}

.single-food-menu-item h2 {
  border-bottom: 1px solid;
  color: #cc9900;
  font-size: 20px;
  padding-bottom: 10px;
}
.food-menu-area {
    background: rgba(0, 0, 0, 0) url("img/symphony.png") repeat scroll 0 0;
}
.single-food-menu-item h2 span {
    float: right;
    font-weight: 400;
}
dfd {
}
.single-food-menu-item {
    margin-bottom: 40px;
}

.single-food-menu-item p {
    font-size: 15px;
    margin: 0;
}


.single-food-menu-item.speacial {
    border: 1px solid #d5b867;
    padding: 5px;
    position: relative;
}
.single-food-menu-item.speacial::after {
  background: #d5b867 none repeat scroll 0 0;
  color: #fff;
  content: "speacial";
  padding: 2px 10px;
  position: absolute;
  right: -1px;
  text-transform: uppercase;
  top: -27px;
}

.testimonial-area{position: relative}
.testimonial-area-bg{background-image: url(img/parallax-testimonial-bg.jpg)}
.testimonial-list{
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 25px;
    padding: 70px;
}
.single-testimonial-item p.author-text {
    font-size: 18px;
    margin-top: 30px;
}

#testimonial-carousel::before{content:"\f10d";position: absolute;top: -20px;left: -30px;font-size: 35px;color: #9C9F9D;font-family: FontAwesome;}

.contact-us-area{background: url(img/symphony.png)}


.contact-form label {
    color: #d19900;
}
.contact-form input[type="text"], .contact-form select {
    border: 1px solid #cc9900;
    color: #7c7c7c;
    margin-bottom: 20px;
    padding: 2px 10px;
    width: 100%;
}
.contact-us-text p {
    margin-bottom: 30px;
}

.btn-submit {
    background: #c9a131 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    display: block;
    margin: 10px auto 0;
    padding: 5px 50px;
}

.footer-area {
    background: #191919 none repeat scroll 0 0;
    color: #a3a3a3;
    font-size: 15px;
}
.footer-widget .section-title {
    background-image: url("img/section-title-pattern-white-little.png");
    color: #fff;
    font-size: 20px;
}
.footer-card {
    color: #fff;
    margin-top: 40px;
}
.footer-card i {
    font-size: 18px;
    margin: 4px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 18px;
    margin: 4px;
}
.footer-social-icon {
    margin-top: 40px;
}
.footer-widget p strong {
    color: #fff;
}

body.preloder_animatein{
    overflow: hidden;
}
#preloder{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ddd;
    z-index: 9999;
}
.preloder-sniper{
    position: absolute;
    height: 31px;
    width: 31px;
    background: url(img/preloder.gif) no-repeat scroll 0 0;
    top: 50%;
    left: 50%;
    margin-top: -15.5px;
    margin-left: -15.5px;
}


